body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
    display: grid;
	grid-template-rows: 100px 1fr;
	grid-template-columns: 300px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content";
}

.header {
	grid-area: header;
	padding:10px;
    background-color: #5e7c6f;
    color: white;
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}
.sidebar {
	grid-area: sidebar;
	padding:10px;
    color: white;
    font-family: "Poppins", sans-serif;
    background-color: #709283;
}
.content {
	grid-area: content;
    padding:30px;
    color: black;
    font-family: "Poppins", sans-serif;
}
